/* {
    border: 1px solid pink;
}*/

/**********************************************************************
    BASIC
***********************************************************************/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1f202b;
    color: white;   
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}


h1 {
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-size: 72px;
}

h2 {
    font-family: 'Source Code Pro', monospace;
    color: #fa0075;
    font-size: 32px;
    text-align: center;
    text-transform: lowercase;
    margin: 50px 0 100px 0;
}

h3 {
    font-weight: bold;
}


.full-width {
    width: 1400px;
    
}

.half-width {
    width: 695px;
    display: inline-block;
    
}

.third-width {
    width: 466px;
    display: inline-block;
  
}


/**************************************************************************
    HEADER
**************************************************************************/

header {
    height: 75px;
    text-transform: lowercase;
    font-size: 24px;
    clear: both;
}


header nav {
    padding-top: 30px;
    clear: both;
}

.main-nav {
    text-align: right;
    margin: 0 auto;
}

header li {
    display: inline-block;
    padding: 0 15px;
}

.logo {
    float: left;
    margin-left: 50px;
}

#main-nav {
    float: right;
}






/**************************************************************************
    INTRO
**************************************************************************/
#intro-section {
    height: 720px;
    background-image: url('../img/hero-background.png');
    background-size: contain;
    background-repeat: no-repeat;
 

    
}

#intro-section h1 {
    padding: 200px 0 0 100px;
}

#intro-section h1 span {
    color: #fa0075;
}

/**************************************************************************
    PORTFOLIO
**************************************************************************/
#portfolio-section {
    height: 1550px;
 
}

#portfolio-section .half-width {
    height: 350px;
    float: left;
}

.portfolio-image {
    width: 500px;
    height: auto;
    margin: 0 100px;
    overflow: hidden;
    object-fit: scale-down;
}
.portfolio-blurb p {
    
    margin: 0 100px;
}


/**************************************************************************
    ABOUT
**************************************************************************/
#about-section {
    height: 550px;
    background-image: url('../img/about-me.png');
    background-size: cover;
}

#about-section h2 {
    padding-top: 50px;
}

#about-section p {
    margin-left: 100px;
    color: black;
}

/**************************************************************************
    CONTACT
**************************************************************************/
#contact-section {
    height: 450px;
}




/********************************************************************************
    MEDIA QUIERIES - MOBILE-FIRST
*********************************************************************************


@media (min-width: 768px) {
    header, section {
        margin: 0 50px;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;

    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }
}


@media (min-width: 1024px) {
    body {
        max-width: 90%;
    }

}

@media (min-width: 1200 px) {
    body {
        max-width: 1200px;
    }
}*/