/* {
    border: 1px solid pink;
}*/

/**********************************************************************
    BASIC
***********************************************************************/
html {
    font-size: 16px;
}

body {
    background-color: #010f26;
    color: white;  
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    width: 100%;
}

a {
    color: white;
    font-size: .875em;
    text-decoration: none;
}

ul {
    list-style: none;
}

h1, h2 {
    font-family: 'Source Code Pro', monospace;
}

h1 {
    color: white;
    font-size: 2.25em;
}

h2 {
    color: #010f26;
    font-size: 1.75em;
    margin: 50px 0 50px 0;
    text-align: center;
    text-transform: lowercase;
}

h3 {
    font-weight: bold;
}


.full-width {
    max-width: 767px;
    width: 100%;
}

.half-width {
    width: 100%;    
}

.third-width {
    width: 100%; 
}


/**************************************************************************
    HEADER
**************************************************************************/
header {
    align-items: center;
    display: flex;
    height: 75px;
    justify-content: center;
    text-transform: lowercase;
    width: 100%;
}

.logo {
    text-align: center;
    width: 300px;
}


header nav,
header ul {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

header ul {
    margin: 15px 0;
    padding: 0;
    width: 100%;
}

header li {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 5px;
}

header nav {
    padding-top: 30px;
}

/**************************************************************************
    INTRO
**************************************************************************/
#intro-section {
    background-image: url('../img/hero-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 410px;
}

#intro-section h1 {
    height: 300px;
    padding: 30px;
}

#intro-section h1 span {
    color: #02ffe9;
}




/**************************************************************************
    PORTFOLIO
**************************************************************************/
#portfolio-section {
    height: auto;
}

#portfolio-section .half-width {
    height: 350px;
}

.portfolio-image {
    height: auto;
    margin: 0 100px;
    width: 500px;
}

.portfolio-blurb p, #portfolio-section h3 {
    padding: 0 100px;
}


/**************************************************************************
    ABOUT
**************************************************************************/
#about-section {
    background: url('../img/about-me.png') no-repeat;
    background-size: contain;
    height: 550px;
}

#about-section h2 {
    padding-top: 50px;
}

#about-section p {
    color: black;
    padding-left: 100px;
}




/**************************************************************************
    CONTACT
**************************************************************************/
#contact-section {
    height: 450px;
}

#contact-section h3, #contact-section p {
    text-align: center;
}

#contact-section ul {
    padding-left: 120px;
}

#contact-section li {
    display: inline-block;
    margin-right: 20px;
}

#copyright {
    margin-top: 100px;
}



/********************************************************************************
=================================================================================
    MEDIA QUIERIES - Tablet screens
=================================================================================
*********************************************************************************/


@media (min-width: 768px) {
    /* ----- header ----- */
    header .logo,
    header ul {
        flex-basis: 46%;
    }

    
    .full-width {
        max-width: 1000px;
        width: 100%;
    }

    .half-width {
        width: 50%;    
    }

    .third-width {
        width: 50%; 
    }
}


@media (min-width: 1200 px) {
    body {
        max-width: 1200px;
    }
}